body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

h2 {
  text-align: center;
  color: rgb(236, 92, 87);
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 5px;
  padding-right: 225px;
  text-align: left;
  border-radius: 5px;
  border-color: lightgray;
}

select {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 80px;
  padding-bottom: 8px;
  padding-bottom: 5px;
  padding-right: 25px;
  text-align: left;
  border-radius: 5px;
  border-color: lightgray;
}

button {
  margin-left: 290px;
  padding: 8px 20px;
  border-radius: 15px;
  color: white;
  background-color: rgb(236, 92, 87);
  border: none;
}
